<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <setting propertyKey="@Properties.GameType" title="@Strings.GameTypeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Doubles</listEntry>
            <listEntry value="1">@Strings.Singles</listEntry>
        </settingConfig>
    </setting>
</settings>
